### Question1 :-
-Write a Python program to add an item in a tuple.

### Answer1 :-

In [1]:
#Tuples are immutable and hence we cannot add an Item in a Tuple.

# We can create a new Tuple by adding 2 tuples but this would result in a new Tuple but the original one remains the same
tup1 = (1,2,3,4,5,6)
tup2 = (1,)
tup3 =tup1+tup2
print(tup3)

(1, 2, 3, 4, 5, 6, 1)

### Question 2: 
- Write a Python program to reverse a tuple.

### Answer 2:

In [2]:
input_tup = (1,2,3,4,5,6)
reverse_tup = input_tup[::-1]  # Approach1 : Using indexing & slicing Tuples can be reversed

print("This is the Original Tuple : " , input_tup)
print("This is the Reverse Tuple : " , reverse_tup)

This is the Original Tuple :  (1, 2, 3, 4, 5, 6)
This is the Reverse Tuple :  (6, 5, 4, 3, 2, 1)

In [3]:
input_tup1 = (1,2,3,4,5,6)   # Approach2 : Convert Tuples to list & then use reverse function
con_to_list = list(input_tup1)
con_to_list.reverse()
reverse_tup1 = tuple(con_to_list)
print("This is the Original Tuple : " , input_tup1)
print("This is the Reverse Tuple:" ,reverse_tup1)

This is the Original Tuple :  (1, 2, 3, 4, 5, 6)
This is the Reverse Tuple: (6, 5, 4, 3, 2, 1)

### Question 3: -
- Swap the following two tuples
- tuple1 = (11, 22)
- tuple2 = (99, 88)

In [4]:
tuple1 = (11,22)  # Approach 1 : By Copying the Tuples the Numbers can be swapped
tuple2 = (99,88)
copy_tuple1 = () # Create an empty Tuple
type(copy_tuple1)

copy_tuple1 = tuple1  # Assign the Tuple to copy_tuple1
tuple1 = tuple2  # Assign Tuple2 to Tuple1
tuple2 = copy_tuple1  # Assign Copy of Tuple to Tuple2

print("Now the Tuple 1 is Swapped with Tuple2",tuple1)
print("Now the Tuple2 is Swapped with Tuple1",tuple2)

Now the Tuple 1 is Swapped with Tuple2 (99, 88)
Now the Tuple2 is Swapped with Tuple1 (11, 22)

 ### Question 4 :-
    
- Modify the first item (22) of a list inside a following tuple to 222
- tuple1 = (11, [22, 33], 44, 55)

In [1]:
tuple1 = (11, [22, 33], 44, 55)  # Approach1 : This is the Original List
con_tup_to_list = list(tuple1)
con_tup_to_list[1][0] = 222
print("After modifying the Tuple",tuple1)

After modifying the Tuple (11, [222, 33], 44, 55)

In [14]:
tuple1 = (11,[22,33],44,55)  #Approach2
con_to_list1 = list(tuple1)
print(con_to_list1)
con_store = con_to_list1[1]
print(con_store)
con_store[0]= 222
print(con_store)

print("The original item i the Tuple is " , tuple1)
print("The modified item in the Tuple is ", tuple(con_to_list1))

[11, [22, 33], 44, 55]
[22, 33]
[222, 33]
The original item i the Tuple is  (11, [222, 33], 44, 55)
The modified item in the Tuple is  (11, [222, 33], 44, 55)

### Question 5: 
-Write a Python program to unpack a tuple in several variables

### Answer 5 :

In [65]:
num_tuple =(1,2,3,4,5) #Approach 1
var1 = num_tuple[0]
var2 = num_tuple[1]
var3 = num_tuple[2]
var4 = num_tuple[3]
var5 = num_tuple[4]
print(var1,var2,var3,var4,var5)

1 2 3 4 5

In [61]:
var1,var2,var3,var4,var5 = num_tuple   # Approach2 : This can also be done in a single Line
print(var1,var2,var3,var4,var5)

1 2 3 4 5

### Question 6 :-
- Write a Python program to add member(s) in an empty set.

### Answer 6 :-

In [15]:
empty_set = set()  # Approach1 : Empty set can be defined like this.
print(type(empty_set)) 
empty_set.add(1) # Add Function adds the element in the set

print(empty_set)

<class 'set'>
{1}

### Question 7 :-
- Write a Python program to create an intersection of sets

In [3]:
### Answer 7 :-

set1 = {1,2,3,5,6,7,8,9,10}
set2 = {3,4,5,6,7,8,12,13}

print(set1.intersection(set2))

{3, 5, 6, 7, 8}

### Question 8 :- 
- Write a Python program to create a symmetric difference
in sets.

In [4]:
#Answer 8 :-
print(set1)
print(set2)

{1, 2, 3, 5, 6, 7, 8, 9, 10}
{3, 4, 5, 6, 7, 8, 12, 13}

In [5]:
#The symmetric difference of two sets A and B is the set of elements that are in either A or B ,
#but not in their intersection.

print(set1.symmetric_difference(set2))

{1, 2, 4, 9, 10, 12, 13}

### Question 9 :- Return a set of identical items from a given two Python

- set1 = [10, 20, 30, 40, 50]

- set2 = [30, 40, 50, 60, 70]

### Answer 9 :-

In [25]:
set1 = {10,20,30,40,50}
set2 = {30,40,50,60,70}
print("The identical items in the List are :",set1.intersection(set2))

The identical items in the List are : {40, 50, 30}

### Question10 :-
- Remove 10, 20, 30 elements from a following set atonce
- set1 = {10, 20, 30, 40, 50}

### Answer 10 :-

In [52]:
set1 = {10,20,30,40,50}
con_to_list = list(set1)
con_to_list.sort()
print(con_to_list)
k =(con_to_list[3:])
print(set(k))

[10, 20, 30, 40, 50]
{40, 50}

### Question 11:-
- Access value 20 from the following tuple
- example = ("Pooja", [10, 20, 30], (25, 50, 15))

### Answer 11 :-

In [55]:
example =  ("Pooja", [10, 20, 30], (25, 50, 15))
print("The Value of Tuple can be extracted directly like this : ",example[1][1])

The Value of Tuple can be extracted directly like this :  20

### Question 12:-
- Count the number of occurrences of item 50 from a tuple numbers = (50, 10, 60, 70, 50)

### Answer 12 :-

In [57]:
numbers = (50,10,60,70,50)
print("The Total number of occurences of 50 are : ",numbers.count(50))

The Total number of occurences of 50 are :  2